<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Address }}</title>
    <link rel="stylesheet" href="styles.css">
    <!-- Google Maps JavaScript API -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1oKrVQdJhniqN0-v5fpwOPF5aAplAC6A&callback=initMap&libraries=maps,marker&v=beta">
    </script>
    <script>
        function initMap() {
            // Parse the latitude and longitude
            var latLng = {
                lat: parseFloat('{{ .Lat }}'),
                lng: parseFloat('{{ .Lng }}')
            };
    
            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: latLng,
                zoom: 14
            });
    
            // Create a marker and set its position.
            var marker = new google.maps.Marker({
                map: map,
                position: latLng,
                title: '{{ .Address }}'
            });
        }
    </script>
</head>
<body>

<main class="listing-details">
    <!-- The div element for your map -->
    <div id="map" style="height: 400px; width: 100%;"></div>

    {{ range .Photos }}
    <img src="{{ . }}" alt="Listing" class="listing-image" onerror="this.onerror=null; this.src='default-default-real-estate-image.png'">
    {{ else }}
    <p>No images available.</p>
    {{ end }}

    <div class="listing-info">
        <h1>{{ .EstateType }} - {{ .Address }} - <a href="https://etherscan.io/address/{{ .Hash }}">{{ .Hash }}</a></h1>
        <!-- ... display other estate details ... -->
        <p><strong>Owner:</strong> {{ .Owner }}</p>
        <p><strong>Block/Lot:</strong> {{ .Block }}/{{ .Lot }}</p>
        <p><strong>Last Sale Price:</strong> ${{ .LastTaxPaymentAmount }}</p>
        <p><strong>Last Sale Date:</strong> {{ .LastTaxPaymentDate }}</p>
        <p><strong>House Class:</strong> {{ .HouseClass }}</p>
        <p><strong>Year Built:</strong> {{ .YearBuilt }}</p>

        <!-- Sale Information Section -->
        <div class="sale-information">
            <h2>Sale Information</h2>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Book</th>
                    <th>Page</th>
                    <th>Price</th>
                    <th>NU#</th>
                    <th>Ratio</th>
                    <!-- Add other sale information headers here -->
                </tr>
                {{ range .SaleInformation }}
                <tr>
                    <td>{{ .Date }}</td>
                    <td>{{ .Book }}</td>
                    <td>{{ .Page }}</td>
                    <td>${{ .Price }}</td>
                    <td>${{ .NU }}</td>
                    <td>${{ .Ratio }}</td>
                    <!-- Add other sale information data here -->
                </tr>
                {{ end }}
            </table>
        </div>

        <!-- Tax List History Section -->
        <div class="tax-list-history">
            <h2>Tax List History</h2>
            <!-- Similar structure to the Sale Information table -->
            <table>
                <tr>
                    <th>Year</th>
                    <th>Property Location</th>
                    <th>Land Assessment</th>
                    <th>Implemented</th>
                    <th>Total Assessment</th>
                    <th>Exemption</th>
                    <th>Assessed</th>
                    <th>Property Class</th>
                    <th>Additional Lots</th>
                    <th>Deductions</th>
                    <!-- Add other sale information headers here -->
                </tr>
                {{ range .History}}
                <tr>
                    <td>{{ .Year }}</td>
                    <td>{{ .Street }}</td>
                    <td>{{ .LandAssmnt }}</td>
                    <td>{{ .Imp }}</td>
                    <td>${{ .TotalAssmnt }}</td>
                    <td>${{ .Exempt }}</td>
                    <td>${{ .Assessed }}</td>
                    <td>${{ .PropClass }}</td>
                    <td>${{ .AdditionalLots }}</td>
                    <td>${{ .Deductions }}</td>
                    <!-- Add other sale information data here -->
                </tr>
                {{ end }}
            </table>
        </div>
    </div>
</main>

</body>
</html>
